<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frame</title>
    <link rel="stylesheet" href="/static/foundation/css/foundation.min.css" />
    <link rel="stylesheet" href="/static/frame/frame.css" />
  </head>
  <body>
    <div class="controls-nav">
      <br />
      <h4>Switch mode:</h4>
      <ul class="vertical menu">
        <li>
          <a href="fjsyDoKNNo">All photos</a>
        </li>
      </ul>
      <ul class="vertical menu">
        <li>
          <a href="#">Fire Island Cam</a>
          <ul class="vertical menu nested">
            <li
              class="{{'is-active' if frame_url == '//video.nest.com/embedded/live/WsP35hLv1f?autoplay=1' else ''}}"
            >
              <a href="fjsyDoKNNo_ferry_cam">Ferry Cam</a>
            </li>
            <li
              class="{{'is-active' if frame_url == '//video.nest.com/embedded/live/oRHGqamzOS?autoplay=1' else ''}}"
            >
              <a href="fjsyDoKNNo_palms_village_cam">Palms Village Cam</a>
            </li>
            <li
              class="{{'is-active' if frame_url == '//video.nest.com/embedded/live/cwPe1SFdep?autoplay=1' else ''}}"
            >
              <a href="fjsyDoKNNo_cjs_central_cam">CJs Central Cam</a>
            </li>
            <!-- ... -->
          </ul>
        </li>
      </ul>
      <div class="divider"></div>
      <!-- <li><a href="#">Wolf Sanctuary Cam</a></li> -->
      <ul class="vertical menu">
        <li><a href="#" onclick="toggleFullScreen();">Full screen</a></li>
        <li><a href="">Refresh for updates</a></li>
      </ul>
    </div>

    <div class="hd-webcam-container overlay">
      <div class="iframe-cover"></div>
      <iframe src="{{frame_url}}" class="hd-webcam"></iframe>
    </div>

    <script src="/static/foundation/js/vendor/jquery.min.js"></script>
    <script src="/static/foundation/js/vendor/what-input.js"></script>
    <script src="/static/foundation/js/vendor/foundation.min.js"></script>

    <script src="/static/frame/frame.js"></script>
  </body>
</html>
