{% set page_name = "All photos" %} {% set plugin = "photo_gallery_simple" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frame</title>
    <link rel="stylesheet" href="/static/foundation/css/foundation.min.css" />
    <link rel="stylesheet" href="/static/frame/frame.css" />
  </head>
  <body>
    <div class="controls-nav">{% include "components/menu.jinja2" %}</div>

    <!-- Wolf Conservation Center -->
    <!-- <iframe
        src="https://g1.ipcamlive.com/player/player.php?alias=5c4b92d28788b&autoplay=1"
        class="hd-webcam"
      >
      </iframe> -->
    <!-- </div> -->
    <!-- 
    <a class="new-photos">
      4 new photos have been added<br />Tap me to view them
    </a> -->

    <!-- <a class="new-photos">
      4 new photos have been added<br />Tap me to view them
    </a> -->

    <video autoplay loop class="stay-awake" controls muted>
      <source src="/static/blank_video/blank.m4v" />
      <source src="/static/blank_video/blank.ogv" type="video/ogg" />
      <source src="/static/blank_video/blank.webm" type="video/webm" />
    </video>

    <div class="overlay">
      <div class="fullscreen-image-slider">
        <div
          class="orbit"
          role="region"
          aria-label="FullScreen Pictures"
          data-orbit
        >
          <ul class="orbit-container">
            {% for imageURL in photos %}
            <li
              class="orbit-slide"
              loading="{{'eager' if loop.index < 9 else 'lazy' }}"
            >
              <img class="orbit-image" src="{{ imageURL }}" alt="Space" />
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <script src="/static/foundation/js/vendor/jquery.min.js"></script>
    <script src="/static/foundation/js/vendor/what-input.js"></script>
    <script src="/static/foundation/js/vendor/foundation.min.js"></script>

    <script src="/static/frame/frame.js"></script>
  </body>
</html>
